*{
    margin: 0;
    padding: 0;
}

.father{
    width: 1000px;
    height: 700px;
    /*border: 2px solid silver;*/
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card{
    width: 450px;
    height: 200px;
    border: 3px solid silver;
    display: flex;
    border-radius: 10px;
}


.icon{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon>i{
    color: red;
    font-size: 60px;
}



.title{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.title>h4{
    color: #008794;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

img {
    width: 150px;
}