body {
    background: antiquewhite;
}

h2 {
    background: blue;
    text-align: center;

}

a {
    text-decoration: none;
    color: black;

}

p {
    color: red;
}

.family {
    color: blue;
}

.fam {
    /*display: block;*/
    /*margin: 0 auto;*/
    text-align: center;
}

h1 {
    text-align: center;
}

li {
    /*text-align: center;*/

}

/*.homer{*/
/*    margin-left: 100px;*/
/*}*/

img {
    width: 200px;

}